boto3
botocore
django-environ
django-cors-headers>=3.10.0
djangorestframework-simplejwt>=4.3.0
pyotp
twilio
yubico-client
smsapi-client
pyjwt

drf-spectacular

pytest
pytest-cov
pytest-django
attrs
coverage
flaky

isort
flake8
