boto3
botocore
djangorestframework
django-environ
django-cors-headers
djangorestframework-simplejwt
pyotp
twilio
yubico-client
smsapi-client
pyjwt

drf-spectacular

pytest
pytest-cov
pytest-django
attrs
coverage
flaky

isort
flake8
